/* Suggestions Form Filler */

position: relative;
width: 1440px;
height: 1437px;

background: #FFFFFF;


/* Questions Blurb */

position: absolute;
width: 1440px;
height: 215px;
left: 0px;
top: 123px;



/* Rectangle 7 */

position: absolute;
width: 1440px;
height: 233px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Questions, Comments, Concerns? */

position: absolute;
width: 709px;
height: 48px;
left: 372px;
top: 33px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Questions Blurb */

position: absolute;
width: 1237px;
height: 53px;
left: 98px;
top: 129px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Header */

position: absolute;
width: 1440px;
height: 123px;
left: -1px;
top: 0px;



/* Rectangle 1 */

position: absolute;
width: 1452px;
height: 123px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Header Logo */

position: absolute;
width: 100px;
height: 100px;
left: 16px;
top: 11px;

background: url(LOGOS - 1.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Link Names */

position: absolute;
width: 417px;
height: 12px;
left: 140px;
top: 55px;



/* Resources */

position: absolute;
width: 53px;
height: 12px;
left: 159px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Prayer Times */

position: absolute;
width: 71px;
height: 12px;
left: 62px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Events */

position: absolute;
width: 36px;
height: 12px;
left: 0px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* About Us */

position: absolute;
width: 48px;
height: 12px;
left: 238px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Get Connected */

position: absolute;
width: 76px;
height: 12px;
left: 312px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Frame 2 */

position: absolute;
width: 92px;
height: 36px;
left: 1190px;
top: 42px;

background: #FF7E7E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Contact Us */

position: absolute;
width: 76px;
height: 32px;
left: 8px;
top: 2px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
display: flex;
align-items: center;

color: #000000;



/* Frame 3 */

position: absolute;
width: 65px;
height: 36px;
left: 1300px;
top: 42px;

background: #93CBF8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Donate */

position: absolute;
width: 49px;
height: 32px;
left: 8px;
top: 2px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
display: flex;
align-items: center;

color: #000000;



/* Prayer Times */

position: absolute;
width: 554px;
height: 61px;
left: 557px;
top: 31px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Prayer Times */

box-sizing: border-box;

position: absolute;
width: 554px;
height: 61px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 25px;


/* Rectangle 4 */

position: absolute;
width: 30px;
height: 30px;
left: 19px;
top: 14px;

background: url(icons8-masjid-50.png);


/* Fajr */

position: absolute;
width: 53px;
height: 15px;
left: 72px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Isha */

position: absolute;
width: 53px;
height: 15px;
left: 357px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Maghrib */

position: absolute;
width: 69px;
height: 15px;
left: 278px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Jummah */

position: absolute;
width: 69px;
height: 15px;
left: 453px;
top: 15px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Asr */

position: absolute;
width: 53px;
height: 15px;
left: 212px;
top: 15px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Dhuhr */

position: absolute;
width: 53px;
height: 15px;
left: 141px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 4:54 AM */

position: absolute;
width: 71px;
height: 18px;
left: 63px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 1:41 PM */

position: absolute;
width: 71px;
height: 18px;
left: 132px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 3:99 PM */

position: absolute;
width: 71px;
height: 18px;
left: 203px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 6:70 PM */

position: absolute;
width: 71px;
height: 18px;
left: 277px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 9:11 PM */

position: absolute;
width: 71px;
height: 18px;
left: 348px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 1 PM / 2 PM */

position: absolute;
width: 80px;
height: 18px;
left: 448px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Vector 1 */

position: absolute;
width: 0px;
height: 45px;
left: 429px;
top: 8px;

border: 1px solid #000000;


/* Dark Mode Toggle */

position: absolute;
width: 24px;
height: 49px;
left: 1383px;
top: 37px;



/* Rectangle 30 */

position: absolute;
width: 24px;
height: 49px;
left: 0px;
top: 0px;

background: #262626;
border-radius: 25px;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;

background: url(moonandstars.png), #FFFFFF;
border: 1px solid #000000;


/* Form Fillout */

position: absolute;
width: 1440px;
height: 686px;
left: -3px;
top: 610px;



/* Rectangle 6 */

position: absolute;
width: 1440px;
height: 684px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Listbox Component */

position: absolute;
width: 308px;
height: 268px;
left: 218px;
top: 26px;



/* ListBox title */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 0%;
bottom: 93.08%;



/* Topic of Inquiry */

position: absolute;
left: 0%;
right: 60.36%;
top: 0%;
bottom: 13.73%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* ListBox Main */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;



/* ListBoxBG */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Chevron */

position: absolute;
left: 85.06%;
right: 11.69%;
top: 19.38%;
bottom: 78.89%;

opacity: 0.8;
border: 1.4px solid #000000;


/* Placeholder Text */

position: absolute;
left: 9.74%;
right: 30.52%;
top: 16.61%;
bottom: 76.47%;



/* Select Topic */

position: absolute;
left: 0%;
right: 53.26%;
top: 0%;
bottom: 13.73%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #666666;



/* Clip List */

position: absolute;
left: 0%;
right: 0%;
top: 9.69%;
bottom: 0%;



/* Dropdown List */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 1px;

position: absolute;
height: 1px;
left: 4.55%;
right: 4.55%;
top: 68px;

opacity: 0;
filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
border-radius: 8px;


/* Item 1 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 1 */

position: absolute;
width: 174px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 2 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 2 */

position: absolute;
width: 205px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 3 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 3 */

position: absolute;
width: 126px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 4 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 4 */

position: absolute;
width: 104px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Listbox Component */

position: absolute;
width: 308px;
height: 268px;
left: 554px;
top: 26px;



/* ListBox title */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 0%;
bottom: 93.08%;



/* Topic of Inquiry */

position: absolute;
left: 0%;
right: 85.71%;
top: 0%;
bottom: 13.73%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* ListBox Main */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;



/* Chevron */

position: absolute;
visibility: hidden;
left: 85.06%;
right: 11.69%;
top: 19.38%;
bottom: 78.89%;

opacity: 0.8;
border: 1.4px solid #000000;


/* Placeholder Text */

position: absolute;
left: 9.74%;
right: 30.52%;
top: 16.61%;
bottom: 76.47%;



/* ListBoxBG */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Clip List */

position: absolute;
left: 0%;
right: 0%;
top: 9.69%;
bottom: 0%;



/* Dropdown List */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 1px;

position: absolute;
height: 1px;
left: 4.55%;
right: 4.55%;
top: 68px;

opacity: 0;
filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
border-radius: 8px;


/* Item 1 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 1 */

position: absolute;
width: 174px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 2 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 2 */

position: absolute;
width: 205px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 3 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 3 */

position: absolute;
width: 126px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 4 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 4 */

position: absolute;
width: 104px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* ListBox title */

position: absolute;
left: 16.11%;
right: 64.44%;
top: 19.44%;
bottom: 76.6%;



/* Topic of Inquiry */

position: absolute;
left: 0%;
right: -149.29%;
top: 0%;
bottom: 40.96%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* ListBox Main */

position: absolute;
left: 16.11%;
right: 17.78%;
top: 24.98%;
bottom: 16.65%;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Chevron */

position: absolute;
visibility: hidden;
left: 33.33%;
right: 65.97%;
top: 30.51%;
bottom: 68.51%;

opacity: 0.8;
border: 1.4px solid #000000;


/* Placeholder Text */

position: absolute;
left: 17.22%;
right: 70%;
top: 28.93%;
bottom: 67.12%;



/* ListBoxBG */

position: absolute;
left: 16.11%;
right: 17.78%;
top: 24.98%;
bottom: 16.65%;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Listbox Component */

position: absolute;
width: 308px;
height: 268px;
left: 890px;
top: 26px;



/* ListBox title */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 0%;
bottom: 93.08%;



/* Topic of Inquiry */

position: absolute;
left: 0%;
right: 64.29%;
top: 0%;
bottom: 13.73%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* ListBox Main */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;



/* Chevron */

position: absolute;
visibility: hidden;
left: 85.06%;
right: 11.69%;
top: 19.38%;
bottom: 78.89%;

opacity: 0.8;
border: 1.4px solid #000000;


/* Placeholder Text */

position: absolute;
left: 9.74%;
right: 30.52%;
top: 16.61%;
bottom: 76.47%;



/* ListBoxBG */

position: absolute;
left: 4.55%;
right: 4.55%;
top: 9.69%;
bottom: 69.55%;

background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Clip List */

position: absolute;
left: 0%;
right: 0%;
top: 9.69%;
bottom: 0%;



/* Dropdown List */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 1px;

position: absolute;
height: 1px;
left: 4.55%;
right: 4.55%;
top: 68px;

opacity: 0;
filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
border-radius: 8px;


/* Item 1 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 1 */

position: absolute;
width: 174px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 2 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 2 */

position: absolute;
width: 205px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 3 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 3 */

position: absolute;
width: 126px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Item 4 */

width: 280px;
height: 44px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 4 */

position: absolute;
width: 104px;
height: 16px;
left: 16px;
top: 12px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

color: #333333;



/* Frame 4 */

position: absolute;
width: 122px;
height: 42px;
left: 665px;
top: 618px;

background: #FF7E7E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Submit Inquiry */

position: absolute;
width: 102px;
height: 32px;
left: 10px;
top: 5px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
display: flex;
align-items: center;

color: #000000;



/* Hadith */

position: absolute;
width: 1440px;
height: 272px;
left: 0px;
top: 338px;



/* Rectangle 19 */

position: absolute;
width: 1440px;
height: 253px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Quran Verse */

position: absolute;
width: 1019px;
height: 177px;
left: 210px;
top: 37px;



/* Frame 5 */

position: absolute;
width: 1019px;
height: 192px;
left: calc(50% - 1019px/2);
top: calc(50% - 192px/2 + 0.5px);



/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ECECEC;
box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.25);
border-radius: 200px;


/* وَمَا خَلَقْتُ ٱلْجِنَّ وَٱلْإِنسَ إِلَّا لِيَعْبُدُونِ [Surah Ad-Dhariyat (51:56)] And I created the jinn and humans for nothing else but that they may worship Me. */

position: absolute;
left: 33.77%;
right: 33.85%;
top: 16.31%;
bottom: 17.03%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Footer */

position: absolute;
width: 1442px;
height: 141px;
left: -1px;
top: 1296px;



/* Rectangle 8 */

position: absolute;
width: 1442px;
height: 141px;
left: 0px;
top: 0px;

background: #93CBF8;


/* Rectangle 9 */

position: absolute;
width: 257px;
height: 37px;
left: 15px;
top: 52px;

background: url(Rice_University_Horizontal_Blue.png);


/* © Rice Muslim Student Association. All rights reserved. */

position: absolute;
width: 574px;
height: 41px;
left: 15px;
top: 89px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */
display: flex;
align-items: center;

color: #000000;



/* Site Map */

position: absolute;
width: 173px;
height: 31px;
left: 1247px;
top: 22px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: underline;

color: #000000;



/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 49px;
left: 1303px;
top: 67px;

background: url(gourpmelogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1371px;
top: 66px;

background: url(facebooklogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1167px;
top: 66px;

background: url(instagramlogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1235px;
top: 66px;

background: url(listserv.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 48px;
left: 1099px;
top: 67px;

background: url(youtubelogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
