/* Donations Page */

position: relative;
width: 1440px;
height: 3647px;

background: #FFFFFF;


/* Questions Blurb */

position: absolute;
width: 1440px;
height: 215px;
left: 0px;
top: 123px;



/* Rectangle 7 */

position: absolute;
width: 1440px;
height: 233px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* May Allah Reward You... */

position: absolute;
width: 507px;
height: 48px;
left: 466px;
top: 35px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Questions Blurb */

position: absolute;
width: 1237px;
height: 53px;
left: 98px;
top: 129px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Header */

position: absolute;
width: 1440px;
height: 123px;
left: -3px;
top: 0px;



/* Rectangle 1 */

position: absolute;
width: 1452px;
height: 123px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Header Logo */

position: absolute;
width: 100px;
height: 100px;
left: 16px;
top: 11px;

background: url(LOGOS - 1.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Link Names */

position: absolute;
width: 417px;
height: 12px;
left: 140px;
top: 55px;



/* Resources */

position: absolute;
width: 53px;
height: 12px;
left: 159px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Prayer Times */

position: absolute;
width: 71px;
height: 12px;
left: 62px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Events */

position: absolute;
width: 36px;
height: 12px;
left: 0px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* About Us */

position: absolute;
width: 48px;
height: 12px;
left: 238px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Get Connected */

position: absolute;
width: 76px;
height: 12px;
left: 312px;
top: 0px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;



/* Frame 2 */

position: absolute;
width: 92px;
height: 36px;
left: 1190px;
top: 42px;

background: #FF7E7E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Contact Us */

position: absolute;
width: 76px;
height: 32px;
left: 8px;
top: 2px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
display: flex;
align-items: center;

color: #000000;



/* Frame 3 */

position: absolute;
width: 65px;
height: 36px;
left: 1300px;
top: 42px;

background: #93CBF8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Donate */

position: absolute;
width: 49px;
height: 32px;
left: 8px;
top: 2px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
display: flex;
align-items: center;

color: #000000;



/* Prayer Times */

position: absolute;
width: 554px;
height: 61px;
left: 557px;
top: 31px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Prayer Times */

box-sizing: border-box;

position: absolute;
width: 554px;
height: 61px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 25px;


/* Rectangle 4 */

position: absolute;
width: 30px;
height: 30px;
left: 19px;
top: 14px;

background: url(icons8-masjid-50.png);


/* Fajr */

position: absolute;
width: 53px;
height: 15px;
left: 72px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Isha */

position: absolute;
width: 53px;
height: 15px;
left: 357px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Maghrib */

position: absolute;
width: 69px;
height: 15px;
left: 278px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Jummah */

position: absolute;
width: 69px;
height: 15px;
left: 453px;
top: 15px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Asr */

position: absolute;
width: 53px;
height: 15px;
left: 212px;
top: 15px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Dhuhr */

position: absolute;
width: 53px;
height: 15px;
left: 141px;
top: 14px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 4:54 AM */

position: absolute;
width: 71px;
height: 18px;
left: 63px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 1:41 PM */

position: absolute;
width: 71px;
height: 18px;
left: 132px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 3:99 PM */

position: absolute;
width: 71px;
height: 18px;
left: 203px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 6:70 PM */

position: absolute;
width: 71px;
height: 18px;
left: 277px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 9:11 PM */

position: absolute;
width: 71px;
height: 18px;
left: 348px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 1 PM / 2 PM */

position: absolute;
width: 80px;
height: 18px;
left: 448px;
top: 35px;

font-family: 'Alexandria';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 32px;
/* or 246% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Vector 1 */

position: absolute;
width: 0px;
height: 45px;
left: 429px;
top: 8px;

border: 1px solid #000000;


/* Dark Mode Toggle */

position: absolute;
width: 24px;
height: 49px;
left: 1383px;
top: 37px;



/* Rectangle 30 */

position: absolute;
width: 24px;
height: 49px;
left: 0px;
top: 0px;

background: #262626;
border-radius: 25px;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;

background: url(moonandstars.png), #FFFFFF;
border: 1px solid #000000;


/* Hadith */

position: absolute;
width: 1440px;
height: 272px;
left: -3px;
top: 356px;



/* Rectangle 19 */

position: absolute;
width: 1440px;
height: 253px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Quran Verse */

position: absolute;
width: 1019px;
height: 177px;
left: 210px;
top: 37px;



/* Frame 5 */

position: absolute;
width: 1019px;
height: 192px;
left: calc(50% - 1019px/2);
top: calc(50% - 192px/2 + 0.5px);



/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ECECEC;
box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.25);
border-radius: 200px;


/* "لَن تَنَالُوا۟ ٱلْبِرَّ حَتَّىٰ تُنفِقُوا۟ مِمَّا تُحِبُّونَ ۚ وَمَا تُنفِقُوا۟ مِن شَىْءٍۢ فَإِنَّ ٱللَّهَ بِهِۦ عَلِيمٌۭ" [Surah Al-e-Imran (3:92)] Never will you attain the good [reward] until you spend [in the way of Allah] from that which you love. And whatever you spend – indeed, Allah is Knowing of it. */

position: absolute;
left: 4.71%;
right: 3.63%;
top: 8.33%;
bottom: 8.33%;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Step Panel 1 */

position: absolute;
width: 1481px;
height: 513px;
left: -44px;
top: 628px;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 513px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 383px;
height: 382px;
left: 200px;
top: 66px;

background: #D9D9D9;
border: 1px solid #000000;


/* Step One: */

position: absolute;
width: 251px;
height: 82px;
left: 709px;
top: 106px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
/* or 100% */
display: flex;
align-items: center;

color: #000000;



/* Go to https://riceconnect.rice.edu/giving. The link will be in the bottom of the page as well for your reference. */

position: absolute;
width: 624px;
height: 260px;
left: 709px;
top: 188px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #000000;



/* Step Panel 2 */

position: absolute;
width: 1481px;
height: 513px;
left: -44px;
top: 1141px;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 513px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 383px;
height: 382px;
left: 200px;
top: 66px;

background: #D9D9D9;
border: 1px solid #000000;


/* Step Two: */

position: absolute;
width: 251px;
height: 82px;
left: 709px;
top: 106px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
/* or 100% */
display: flex;
align-items: center;

color: #000000;



/* Enter your donation amount. Click on designation and scroll down to select “Other (Please specify in special instructions).” Click “Add Donation” and wait for the next menu. */

position: absolute;
width: 624px;
height: 260px;
left: 709px;
top: 188px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #000000;



/* Step Panel 3 */

position: absolute;
width: 1481px;
height: 513px;
left: -44px;
top: 1654px;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 513px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 383px;
height: 382px;
left: 200px;
top: 66px;

background: #D9D9D9;
border: 1px solid #000000;


/* Step Three: */

position: absolute;
width: 251px;
height: 82px;
left: 709px;
top: 106px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
/* or 100% */
display: flex;
align-items: center;

color: #000000;



/* Fill out all the relevant information. In the special instructions, please add “Donation to the Rice Muslim Student Association.” This ensures your donation goes specifically to the club. */

position: absolute;
width: 624px;
height: 260px;
left: 709px;
top: 188px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #000000;



/* Step Panel 4 */

position: absolute;
width: 1481px;
height: 513px;
left: -41px;
top: 2167px;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 513px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 383px;
height: 382px;
left: 200px;
top: 66px;

background: #D9D9D9;
border: 1px solid #000000;


/* Step Four: */

position: absolute;
width: 251px;
height: 82px;
left: 709px;
top: 106px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
/* or 100% */
display: flex;
align-items: center;

color: #000000;



/* Click on “Donate Now.” Follow the instructions for payment, and you’re done! */

position: absolute;
width: 624px;
height: 260px;
left: 709px;
top: 188px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #000000;



/* Step Panel 5 */

position: absolute;
width: 1481px;
height: 513px;
left: -41px;
top: 2680px;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 513px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 383px;
height: 382px;
left: 200px;
top: 66px;

background: #D9D9D9;
border: 1px solid #000000;


/* Ready to donate? Click the button below to head to the Rice donation website. Jazakallah Khairun for your efforts! */

position: absolute;
width: 745px;
height: 382px;
left: 720px;
top: 75px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
/* or 136% */

color: #000000;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 20px;
gap: 10px;

position: absolute;
width: 149px;
height: 62px;
left: 720px;
top: 367px;

background: #93CBF8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Donate */

width: 109px;
height: 32px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 32px;
/* identical to box height, or 89% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 8 */

position: absolute;
width: 1437px;
height: 313px;
left: 3px;
top: 3193px;



/* Rectangle 23 */

position: absolute;
width: 1437px;
height: 274px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* More questions about donating?Let us know. */

position: absolute;
width: 1189px;
height: 125px;
left: 131px;
top: 43px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 32px;
/* or 67% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Frame 2 */

position: absolute;
width: 227px;
height: 72px;
left: 625px;
top: 168px;

background: #FF7E7E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Contact Us */

position: absolute;
width: 171px;
height: 32px;
left: 28px;
top: 20px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 32px;
/* identical to box height, or 89% */
display: flex;
align-items: center;

color: #000000;



/* Footer */

position: absolute;
width: 1442px;
height: 141px;
left: -2px;
top: 3506px;



/* Rectangle 8 */

position: absolute;
width: 1442px;
height: 141px;
left: 0px;
top: 0px;

background: #93CBF8;


/* Rectangle 9 */

position: absolute;
width: 257px;
height: 37px;
left: 15px;
top: 52px;

background: url(Rice_University_Horizontal_Blue.png);


/* © Rice Muslim Student Association. All rights reserved. */

position: absolute;
width: 574px;
height: 41px;
left: 15px;
top: 89px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */
display: flex;
align-items: center;

color: #000000;



/* Site Map */

position: absolute;
width: 173px;
height: 31px;
left: 1247px;
top: 22px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: underline;

color: #000000;



/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 49px;
left: 1303px;
top: 67px;

background: url(gourpmelogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1371px;
top: 66px;

background: url(facebooklogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1167px;
top: 66px;

background: url(instagramlogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 1235px;
top: 66px;

background: url(listserv.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 48px;
left: 1099px;
top: 67px;

background: url(youtubelogo.png), #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
